body {
	font-size: 14px;
	line-height: 1.5em;
}

input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	-webkit-appearance: none;
}

#login {
	margin: 150px auto;
	width: 440px;
}

#login h2 {
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	font-size: 28px;
        color: white;
	padding: 20px 26px;
        margin-bottom: 0;
        margin-left: 2px;
}

#login fieldset {
	-webkit-border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
        border-style: outset;
        border-width: 5px;
        border-color: gray;
	padding: 20px 26px;
}
#login fieldset p {
	margin-bottom: 14px;
}

#login fieldset p:last-child {
	margin-bottom: 0;
}

#login fieldset input {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#login fieldset input[type="text"], #login fieldset input[type="password"] {
	padding: 4px 10px;
	width: 328px;
}