<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <listener>
        <listener-class>jsf.beans.generales.SessionListener</listener-class>
    </listener>
    <filter>
        <filter-name>Primefaces FileUpload Filter</filter-name>
        <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Primefaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/generales/pg_inicio001.xhtml</welcome-file>
    </welcome-file-list>
    <ejb-local-ref>
        <ejb-ref-name>MbdUsuarios</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdUsuariosLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdRoles</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdRolesLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdDocExistentes</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdDocExistentesLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdEmpresas</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdEmpresasLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdPoliticaGrupos</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdPoliticaGruposLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdLinks</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdLinksLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdEmpleados</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdEmpleadosLocal</local>
    </ejb-local-ref>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>glass-x</param-value>
    </context-param>
    <ejb-local-ref>
        <ejb-ref-name>MbdCargos</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdCargosLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdAreas</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdAreasLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdContactos</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdContactosLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdOpcionRoles</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdOpcionRolesLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdAyudas</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdAyudasLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdErrores</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdErroresLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdReportes</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdReportesLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdParametrias</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdParametriasLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdCaracteristicas</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdCaracteristicasLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdActividades</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdActividadesLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdAlfanumericas</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdAlfanumericasLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdNumericas</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdNumericasLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdProgramas</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdProgramasLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdConstantes</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdConstantesLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdFormulas</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdFormulasLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdProyectos</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdProyectosLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdProyItems</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdProyItemsLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdRelaciones</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdRelacionesLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdClases</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdClasesLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdProyActs</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdProyActsLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdPaises</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdPaisesLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdFestivos</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdFestivosLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdResponsables</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdResponsablesLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdEtapas</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdEtapasLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdComponentes</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdComponentesLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdTipoComps</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdTipoCompsLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdPermisos</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdPermisosLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdConsecutivos</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdConsecutivosLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdParalelas</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdParalelasLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdItems</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdItemsLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdGdocumentos</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdGdocumentosLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdPdocumentos</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdPdocumentosLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdActItems</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdActItemsLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdRutas</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdRutasLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdGrupoUsuarios</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdGrupoUsuariosLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdGrupoTrabajos</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdGrupoTrabajosLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdAsignActs</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdAsignActsLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdDocmActv</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdDocmActvLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdCronoProye</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdCronoProyeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdAccesoRepUsu</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdAccesoRepUsuLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdGrupoReportes</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdGrupoReportesLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdValorHora</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdValorHoraLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdPermisosDocUsu</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdPermisosDocUsuLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdInfoDocumentos</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdInfoDocumentosLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>Documentos</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>documentos.DocumentosLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MbdCondicionComunicacion</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>jpa.controlador.MbdCondicionComunicacionLocal</local>
    </ejb-local-ref>
</web-app>
